.sidebarInside{
    border: 1px solid gray;
    padding: 20px;
}
.sidebarContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
    /* padding: 10%; */
}
.sidebarContainer-1{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    color:rgb(5, 5, 49)
}

.sidebarContainer-11{
    font-size: 30px;
    font-weight: bolder;
    /* margin-left: 49px; */
}

.sidebarContainer-12{
    font-size: 20px;
    font-weight: bold;
    /* margin-left: 49px; */
}

.sidebarContainer-2{
    /* background-color:brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: 58px; */
    font-size: 40px;
    width: 100%;
}

.search-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.search-area-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid grey;
    border-radius: 8px;
    background-color: aqua;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.search-icon{
    background-color: rgb(230, 226, 226);
    padding: 5px;
    width: 5%;
}

svg{
    cursor:pointer;
}

.search-area-1 input{
    width: 95%;
    border: none;
    padding: 5px;
    font-size:medium;
}

.domain-icons{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    /* padding: 10px; */
}

.domain-icons-design{
    /* background-color: aqua; */
    /* padding: 5px; */
    /* border: 2px solid blue; */
    /* border-radius: 30%; */
    /* margin-left: 53px; */
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
}

.domain-icons-design-all{
    border: 4px solid blue;
    padding: 2px;
    height: 19px;
    margin-top: 10px;
    cursor: pointer;
}

.domain-icons-design-icons{
    padding-left: 5px;
    padding-right: 5px;
    border: 4px solid blue;
    /* border-radius: 30%; */
    margin: 10px;
    cursor: pointer;
}

.programList{
    /* background-color: aquamarine; */
    width: 100%;
}

.program-design{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    /* padding: 10px; */
    /* border: 2px solid red; */
}

.program-icon{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
    /* background-color: blue; */
}

.program-icon-design{
    background-color: violet;
    padding: 20px;
    border-radius: 50%;
    font-weight: bolder;
    color: rgb(12, 12, 107);
}

.program-name-date{
    width:75%;
    /* background-color: blueviolet; */
    color:rgb(5, 5, 49);
}